/*!
// Estilos Personalizados
// Sitio: presmedsso.com
// Preprocesador: Stylus
// Autor: Jorge Ortega
// Versión: 1.0
*/

blanco = #fff
azul = #00568a
amarillo = #f0980d
rojo = #EC293F

twitter    = #00aced  //rgb(0, 172, 237)
facebook   = #3b5998  //rgb(59, 89, 152)
googleplus = #dd4b39  //rgb(221, 75, 57)
pinterest  = #cb2027  //rgb(203, 32, 39)
linkedin   = #007bb6  //rgb(0, 123, 182)
youtube    = #bb0000  //rgb(187, 0, 0)
instagram  = #517fa4  //rgb(81, 127, 164)

$fondo-alfa
  background rgba(68, 141, 218, 0.7)

// *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
//   GLOBAL
// *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
body
  background-color #F5FAFB
h1
h2
h3
h4
h5
h6
.h1
.h2
.h3
.h4
.h5
.h6
  color azul
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif;

a
  color azul

.btn-default
.label-default
  background-color azul
  border-color azul

.btn
  color azul
  &-presm
    border 1px solid azul
    &:hover
      background amarillo

.txt-h
  font-weight 500
  text-transform uppercase

.home, .page
  .entry-header
    display none

// *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
//   HEADER
// *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
.navbar.navbar-default
  border-bottom 2px solid azul
.site-navigation-inner
  #logo
    img
      width 335px

.dropdown-menu > li > a:hover
.dropdown-menu > li > a:focus
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus
  background-color azul

// *-*-*-*-*-*-*-*-*- Probar
.dropdown-menu
  > li
    > a
      &:hover
      &:focus
        background-color azul

.navbar-default
  .navbar-nav
    .open
      .dropdown-menu
        > li
          > a
            &:hover
            &:focus
              @extends .dropdown-menu > li > a:hover



// *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
//   CUERPO
// *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*

.rojo
  color rojo

.main-content-area
  margin-top 10px
  margin-bottom 10px

.divisor
  width 80px
  border-top 2px solid azul
  margin o auto 9px

.cont
  &-bloques
    &-iconos
      font-size 55px
      .fa-user-md
        color #52B7F3
      .fa-commenting-o
        color #FFA51E
      .fa-heartbeat
        color #FF4C4C
      .fa-hospital-o
        color #04F5A7

.panel
  &-default > &
    &-heading
      background-color blanco
      padding-bottom 15px

.flex-caption
  .excerpt
    display none
  h2
    @extends $fondo-alfa

.diagnosticos
  .cont-bloques-iconos
    + div
        margin 10px 0 0 0

// *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
//   FOOTER
// *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
.cont-social
  font-size 18px
  margin 0 8px
.facebook, .instagram, .youtube, .linkedin
  display inline-block
  font-size 35px
  margin 0 10px

.facebook
  a
    &:hover
      color facebook !important
.instagram
  a
    &:hover
      color instagram !important
.youtube
  a
    &:hover
      color youtube !important
.linkedin
  a
    &:hover
      color linkedin !important

.sugestion
  font-size 11px

@media screen and (min-width:768px)
  .sugestion
    text-align right